# This is a sample Jupyter Notebook

Below is an example of a code cell. 
Put your cursor into the cell and press Shift+Enter to execute it and select the next one, or click 'Run Cell' button.

Press Double Shift to search everywhere for classes, files, tool windows, actions, and settings.

To learn more about Jupyter Notebooks in PyCharm, see [help](https://www.jetbrains.com/help/pycharm/ipython-notebook-support.html).
For an overview of PyCharm, go to Help -> Learn IDE features or refer to [our documentation](https://www.jetbrains.com/help/pycharm/getting-started.html).

In [7]:
import json
import pandas as pd
#Reading the employee data json file
with open("employee_data.json",'r')as f:
    jsonData = json.load(f)
print(type(jsonData))
print(jsonData)

<class 'list'>
[{'id': 1, 'name': 'Aadhil', 'department': 'HR', 'salary': 60000}, {'id': 2, 'name': 'Aaryan', 'department': 'Engineering', 'salary': 75000}, {'id': 3, 'name': 'Navilan', 'department': 'HR', 'salary': 62000}, {'id': 4, 'name': 'Sarvesh', 'department': 'Sales', 'salary': 58000}, {'id': 5, 'name': 'Sabari', 'department': 'Engineering', 'salary': 80000}]

In [8]:
#COnverting the json file read data into dataframe
df=pd.DataFrame(jsonData)

In [9]:
df

   id     name   department  salary
0   1   Aadhil           HR   60000
1   2   Aaryan  Engineering   75000
2   3  Navilan           HR   62000
3   4  Sarvesh        Sales   58000
4   5   Sabari  Engineering   80000

In [13]:
#Creating a list for storing unique department name
dept=list(df['department'].unique())
print(dept)

['HR', 'Engineering', 'Sales']

In [17]:
#Calculating the average salary of each department and storing it in dictionary
dict_avg={}
for i in dept:
    avg=int(df.loc[df['department']==i,'salary'].mean())
    dict_avg[i]=avg
print(dict_avg)

{'HR': 61000, 'Engineering': 77500, 'Sales': 58000}

In [19]:
#Writing the average salary details into salary summary json file
with open("salary_summary.json",'w')as fout:
    json.dump(dict_avg,fout)

In [22]:
#Printing the details of the employee with the highest salary
print(df.iloc[df['salary'].idxmax(),1:4])

name               Sabari
department    Engineering
salary              80000
Name: 4, dtype: object